.item{
    border: 1px solid red;
    padding: 10px;
    border-radius: 5px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    gap:10px
}

.div-img{
    border: 1px solid blue;
    height: 250px;

    grid-column: 1 / 3;
}

.título{
    grid-column: 1/3;
}

.description{
    grid-column: 1/3;
}
.txt-precio{
    grid-column: 2/3;
    font-weight: 600;
    margin-left: auto;
}